.YesNoOption {
	height:50px;
	cursor: pointer;
	width: 100px;
	font-size: 15px;
	font-family: sans-serif;
	background-color: white;
	text-align: center;
	margin: 55px 22px;
	border-radius: 8px;
	border: 2px solid black;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;

}

.YesNoOption:hover {
	background: black;
	color: white;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 73e1362717fdbcf8408eb7ca488891836e3986ce
.YesNoOption:focus {
	outline: none; 
	box-shadow: none;
}
<<<<<<< HEAD
=======
.YesNoOption:focus {outline: 0 !important;}
>>>>>>> 29c0fe90d17eca3146080840b9faafc9d4cf873e
=======
>>>>>>> 73e1362717fdbcf8408eb7ca488891836e3986ce

.YesNoOption:active {
	background-color: black;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.YesNoOption:disabled {
  background-color: #CCC;
  box-shadow: none;
}

section
{
  text-align: center;
  margin-top: 100px;
  color: #333;
}
p{font-size: 16px;}
